
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    /* position reltive help our site to avoid overlapping */
    position: relative;
    /* overflow hidden help us to hide the overflow */
    overflow: hidden;
}
#page {
    background-image: linear-gradient(#e2e6e9, #d6d9db,#c9cdd0);
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient( #c9cdd0,#b6b9bc, #adb5bd );
}
#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient( #adb5bd , #6c757d, #495057);
}
#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient( #495057, #343a40, #212529);
}
canvas{
    position: relative;
    z-index: 9;
    max-width: 100vw;
    max-height: 100vh;
}
#loop{
    position: absolute;
    top: 30%;
    height: 30%;
    width: 100%;
    font-size: 90px;
    white-space: nowrap;
    overflow: hidden; /* prevents text from overlapping*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#loop>h1{
    font-weight: 500;
    display: inline-block;
    /* padding-left: 100%; Push the text to start from off-screen */
    animation: anim 15s linear infinite;
    /* animation-duration: 19s; */
    /* animation-timing-function: linear; */
    /* animation-iteration-count: infinite; */

}
#loop>h1>span{
    -webkit-text-stroke: 1.2px black;
    color: transparent;
}
@keyframes anim{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
/* duplicate the content to avoid the gap */
#loop>h1::after{
    content: attr(data-text); /*Duplicate the content*/
    padding-left: 100%;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7%;
    width: 100%;
    position: fixed;
    /* background-color: red; */
    z-index: 99;
    /* in padding the first value is for top and bottom and second value is for right and left */
    /* padding: 0px (for top and bottom spce , 30px (for right and left space ); */
    padding: 30px 30px;
}

#nav>button{
    /* IMPORTANT NOTE */
    /* always use space between values for padding dont use comma  */
    padding: 10px 50px;
    border-radius: 50px;
    background-color: #212529;
    color: #dee2e6;
    border: none;

}
#page>h3{
    position: absolute;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    top: 57%;
    left: 5%;
    color: #222324;
}
#page>h4{
    position: absolute;
    font-style: oblique;
    top: 76%;
    right: 4%;
    font-weight: 450;
    color: #222324;
}
#page>h5{
    position: absolute;
    top: 85%;
    right: 13%;
    font-weight: 100;
}
#page1>#right-text{
    position: absolute;
    top: 30%;
    left: 10%;

}
#page1>#right-text>h1{
    font-weight: 400;
    line-height: 1.5;
    font-size: 50px;
}
#page1>#right-text>h3{
    font-weight: 200;
    color: #343a40;
}
#page1>#left-text{
    position: absolute;
    top: 45%;
    right: 10%;
    text-align: end;
}
#page1>#left-text>h1{
    font-weight: 900;
    line-height: 1.3;
    font-size: 50px;
}
#page1>#left-text>h3{
    color: #495057;
    font-weight: 400;
}
#page2>#text1{
    position: absolute;
    top: 30%;
    left: 10%;
}
#page2>#text1>h3{
    color: #adb5bd;
    font-weight: 400;
}
#page2>#text1>h1{
    font-size: 60px;
    line-height: 1.5; 
}
#page2>#text2{
    position: absolute;
    top: 55%;
    right: 5%;
}
#p1{
    text-align: end;
    text-transform: uppercase;
    color: #212529;
    font-weight: 400;
}
#p2{
    font-size: large;
    color: #adb5bd;
    text-align: end;
    position: absolute;
    top: 125%;
    font-weight: 400;
}
/* .image-container {
    text-align: center;
} */

#page3>#text3{
    position: absolute;
    top:35%;
    right: 5%;
    text-align: end;
}
#page3>#text3>h3{
    /* text-align: end; */
    font-size: larger;
    font-weight: 400;
}
#page3>#text3>h1{
    line-height: 1.1;
    font-size: 70px;
}
#ak{
    color: #adb5bd;
}
#bk{
    color: #ced4da;
}
#ck{
    color: #dee2e6;
}
#page3>#text4>#inner-text1{
    position: absolute;
    top:20%;
    left: 5%;
    text-align: start;
}
#p3{
    font-size: 25px;
    font-weight: 400;
    color: #adb5bd;

}
#p4{
    font-size: 20px;
    color: #ced4da;
    font-weight: 200;
}
#page3>#text4>#inner-text2{
    position: absolute;
    top:60%;
    left: 5%;
    text-align: start;
}
#p5{
    font-size: 25px;
    font-weight: 400;
    color: #dee2e6;

}
#p6{
    font-size: 20px;
    color: #e9ecef;
    font-weight: 200;

}